
@{
    Layout = "~/Views/Shared/_OrgUpload.cshtml";
}

<body>
    <header>
        <img src="logo-placeholder.png" alt="FoodBridge Logo">
        <nav>
            <a href="#">ABOUT US</a>
            <a href="#">HOW IT WORKS</a>
            <a href="#">ABOUT FOOD WASTE</a>
        </nav>
        <a href="#" class="account-btn">Account</a>
    </header>

    <div class="container">
        <div class="thank-you">Thank you for Choosing us we will upload your Organization</div>
        <div class="waiting">*Waiting for someone to donate to your organization..</div>

        <div class="org-info">
            <h2>Arnold Janssen Kalinga Center</h2>
            <div class="info-columns">
                <div><strong>EVENT TYPE :</strong> FEEDING<br>Monday to Saturday, 8:00 AM - 5:00 PM</div>
                <div><strong>CONTACT</strong><br>ajkalingafoundation@gmail.com<br>+63 961 240 8692</div>
                <div><strong>LOCATION</strong><br>Catholic Trade Building<br>1916 Oroquieta Road, Sta. Cruz, Manila</div>
            </div>
        </div>

        <div class="images-grid">
            <img src="img1.png" alt="">
            <img src="img2.png" alt="">
            <img src="img3.png" alt="">
            <img src="img4.png" alt="">
            <img src="img5.png" alt="">
            <img src="img6.png" alt="">
            <img src="img7.png" alt="">
            <img src="img8.png" alt="">
            <img src="img9.png" alt="">
            <img src="img10.png" alt="">
            <img src="img11.png" alt="">
            <img src="img12.png" alt="">
        </div>
    </div>
</body>



