
@{
    Layout = "~/Views/Shared/_RecipientSignup.cshtml";
}


<body>
    <header>
        <img src="logo.png" alt="FoodBridge Logo" class="logo" height="80">
        <nav class="nav">
            <a href="#">ABOUT US</a>
            <a href="#">HOW IT WORKS</a>
            <a href="#">ABOUT FOOD WASTE</a>
            <a href="#">BUSINESS SOLUTIONS</a>
        </nav>
        <button class="account-button">Account</button>
    </header>
    <div class="signup-form-section">
        <h2>Make an Impact Today</h2>
        <p>Join FoodBridge and be part of a movement to fight food waste and feed communities. It only takes a minute to start making a difference.</p>
        <h3>Sign up for Recipient</h3>
        <div class="signup-box">
            <div>
                <label>FIRST NAME:</label>
                <input type="text" placeholder="FIRSTNAME">
            </div>
            <div>
                <label>LAST NAME:</label>
                <input type="text" placeholder="LASTNAME">
            </div>
            <div>
                <label>DATE OF BIRTH:</label>
                <div class="dob-container">
                    <select><option>DD</option></select>
                    <select><option>MM</option></select>
                    <select><option>YYYY</option></select>
                </div>
            </div>
            <div>
                <label>ADDRESS:</label>
                <input type="text" placeholder="ADDRESS">
            </div>
            <div>
                <label>DISTRICT:</label>
                <input type="text" placeholder="DISTRICT">
            </div>
            <div>
                <label>CONTACT NUMBER:</label>
                <input type="text" placeholder="CONTACT NUMBER">
            </div>
            <div>
                <label>USER NAME:</label>
                <input type="text" placeholder="USER NAME">
            </div>
            <div>
                <label>EMAIL ADDRESS:</label>
                <input type="email" placeholder="EMAIL ADDRESS">
            </div>
            <div>
                <label>PASSWORD:</label>
                <input type="password" placeholder="PASSWORD">
            </div>
            <div>
                <label>CONFIRM PASSWORD:</label>
                <input type="password" placeholder="CONFIRM PASSWORD">
            </div>
        </div>
        <div class="submit-section">
            <p><input type="checkbox">By clicking this button, you agree to the terms and conditions</p>
            <button>SUBMIT</button>
        </div>
    </div>
</body>


